@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.App {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template: 'navbar' auto 'content' 1fr / auto;
  animation: fade-in 0.8s ease-in-out; }
  @media (min-width: 62em) {
    .App {
      grid-template: 'navbar content' auto / auto 1fr; } }
  .App .Navbar {
    grid-area: navbar; }
  .App .Content {
    grid-area: content; }
