.Skills {
  padding: 3.8rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Skills .terminal {
  font-family: 'Source Code Pro', monospace;
  color: #bcbcbc;
  background-color: #292a2b;
  width: 100%;
  max-width: 40rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 1.5rem black;
  padding: 1rem 1.125rem;
}

.Skills .terminal .top-bar {
  width: 100%;
}

.Skills .terminal .button {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  display: inline-block;
}

.Skills .terminal .close.button {
  background-color: #ff5d5b;
}

.Skills .terminal .minimise.button {
  background-color: #ffbb4f;
  margin-left: 0.5rem;
}

.Skills .terminal .maximise.button {
  background-color: #00c857;
  margin-left: 0.5rem;
}

.Skills .terminal .content {
  padding: 1rem 0 0.5rem;
  width: 100%;
}

.Skills .line {
  display: block;
  padding: 0.125rem;
}

.Skills .tag {
  color: #ff296c;
}

.Skills .class {
  color: #f3ae73;
}

.Skills .value {
  color: #05e2c7;
}
