/*
 * Mobile styles
 */

.Home {
  color: white;
  font-size: 2.8rem;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.4s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Home .message {
  width: 100%;
  max-width: 40rem;
}

.Home a,
.Home strong,
.Home .typed-cursor {
  color: #005351;
}

.Home a {
  text-decoration: none;
  outline: none;
}

.Home a:hover,
.Home a:focus {
  text-decoration: underline;
}

.Home .typed-cursor {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
 * Medium devices
 */

@media (min-width: 48em) {
  .Home {
    font-size: 3.25rem;
  }
}
