/*
 * Mobile styles
 */

.Navbar {
  grid-area: navbar;
  width: 100%;
  color: white;
  background-color: #2c2d31;
  box-shadow: 0 0 0.625rem 0.0625rem black;
}

.Navbar a {
  text-decoration: none;
  outline: none;
  color: white;
  transition: color 0.1s linear;
}

/*
 * Navbar header styles
 */

.Navbar .header {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #2c2d31;
}

.Navbar .header > a {
  display: flex;
  align-items: center;
}

.Navbar .logo {
  border-radius: 50%;
  transition: transform 0.1s linear;
}

.Navbar a:hover .logo,
.Navbar a:focus .logo {
  transform: scale(1.1);
}

.Navbar .logo-sm {
  width: 3rem;
  margin-right: 0.75rem;
  border: 0.125rem solid transparent;
  box-shadow: 0 0 0 0.125rem #04b9b7;
}

.Navbar .logo-md {
  display: none;
}

.Navbar .name {
  font-size: 1.5rem;
}

.Navbar .name a > * {
  transition: color 0.1s linear;
}

.Navbar .name .second {
  color: #04b9b7;
}

.Navbar .name a:hover > *,
.Navbar .name a:focus > * {
  color: #008684;
}

.Navbar .job {
  display: none;
}

.Navbar .toggle {
  margin-left: auto;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.Navbar .icon-bar {
  display: block;
  width: 2rem;
  height: 0.25rem;
  background-color: white;
  margin: 0.25rem 0;
  transition: all 0.1s linear;
}

.Navbar .toggle:hover .icon-bar,
.Navbar .toggle:focus .icon-bar {
  background-color: #008684;
}

.Navbar.expanded .icon-bar:nth-child(2) {
  transform: translateY(0.5rem);
}

.Navbar.expanded .icon-bar:last-child {
  transform: translateY(-0.5rem);
}

/*
 * Navbar menu styles
 */

.Navbar .menu {
  padding: 0.5rem 0;
  display: none;
  width: 100%;
}

.Navbar.expanded .menu {
  display: block;
}

.Navbar .links a {
  padding: 1rem 0;
  display: block;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.1s linear;
  max-height: 3.125rem;
  position: relative;
}

.Navbar .links a:hover,
.Navbar .links a:focus,
.Navbar .links a.active {
  background-color: #008684;
}

.Navbar .arrow {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 1.5625rem solid #2c2d31;
  border-bottom: 1.5625rem  solid #2c2d31;
  border-left: 1.5625rem  solid #2c2d31;
  transition: all 0.1s linear;
}

.Navbar .social {
  text-align: center;
  padding: 0.5rem 0;
}

.Navbar .social .icon {
  font-size: 2rem;
  margin: 1rem 1rem 0.5rem;
  color: #04b9b7;
  transition: all 0.1s linear;
}

.Navbar a:hover .icon,
.Navbar a:focus .icon {
  transform: scale(1.1);
}

/*
 * Desktop styles
 */

@media (min-width: 62em) {
  .Navbar {
    width: 15.625rem;
    display: flex;
    flex-direction: column;
    background-color: #2c2d31;
  }

  /*
   * Navbar header styles
   */

  .Navbar .header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .Navbar .logo-sm {
    display: none;
  }

  .Navbar .logo-md {
    margin-top: 2rem;
    width: 8.125rem;
    border: 0.3125rem solid transparent;
    box-shadow: 0 0 0 0.3125rem #04b9b7;
    margin-bottom: 2rem;
    display: initial;
  }

  .Navbar .job {
    display: initial;
    font-weight: normal;
  }

  .Navbar .job strong {
    font-weight: bold;
  }

  .Navbar .toggle {
    display: none;
  }

  /*
   * Navbar menu styles
   */

  .Navbar .menu {
    display: block !important;
  }

  .Navbar .arrow {
    display: initial;
  }

  .Navbar a:hover .arrow,
  .Navbar a:focus .arrow,
  .Navbar a.active .arrow {
    border-left: 1.5625rem solid #008684;
  }
}
