.navbar {
  grid-area: navbar;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 15.625rem;
  background-color: #2c2d31;
  color: white;
  text-align: center;
  box-shadow: 0 0 10px 1px black;
  transition: 1s linear;
}

.navbar img {
  margin-top: 30px;
  width: 60%;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0 0 0 5px #04b9b7;
  margin-bottom: 30px;
}

.navbar .first {
  color: white;
}

.navbar .second {
  color: #04b9b7;
}

.navbar h2 {
  width: 100%;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar .job {
  font-weight: 300;
}

.navbar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.navbar li {
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
  position: relative;
  transition: all 0.1s linear;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar li.active,
.navbar li:hover {
  background-color: #008684;
}

.navbar .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 0; 
  height: 0;
  border-top: 24px solid #2c2d31;
  border-bottom: 24px solid #2c2d31;
  border-left: 24px solid #2c2d31;
  transition: all .1s linear;
}

.navbar li:hover .arrow,
.navbar li.active .arrow {
  border-left: 24px solid #008684;
}

.navbar .social li {
  padding: 5px 0 5px 60px;
  text-transform: initial;
  text-align: left;
  margin: 0 auto;
}

.logo {
  margin-right: 10px;
  color: #04b9b7;
}

@media (max-width: 992px) {
  ul,
  img {
    display: none;
  }
  .navbar {
    height: 100px;
    width: 100%;
  }
}