@import '../../themes/theme.scss';
@import '../../styles/media_query_mixins.scss';

.Navbar {
  width: 100%;
  color: $navbar-colour;
  background-color: $navbar-background-colour;
  box-shadow: 0 0 0.625rem 0.0625rem $navbar-shadow-colour; // 10px 1px
  position: relative;

  @include desktop {
    width: 18.75rem; // 300px
    display: flex;
    flex-direction: column;
    background-color: $navbar-background-colour;
  }

  .header {
    padding: 0.5rem 1rem; // 8px 16px
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $navbar-background-colour;

    @include desktop {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  .brand {
    display: flex;
    align-items: center;
    transition: transform 0.1s linear;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }

    @include desktop {
      flex-direction: column;
    }
  }

  .logo {
    border-radius: 50%;
    width: 3rem; // 48px
    height: 3rem; // 48px
    margin-right: 0.75rem; // 12px
    border: 0.125rem solid transparent; // 2px
    box-shadow: 0 0 0 0.125rem $navbar-secondary-colour; // 2px

    @include desktop {
      margin: 2rem 0; // 32px
      width: 8.125rem; // 130px
      height: 8.125rem; // 130px
      border: 0.3125rem solid transparent; // 5px
      box-shadow: 0 0 0 0.3125rem $navbar-secondary-colour; // 5px
      display: inline;
    }
  }

  .name {
    font-size: 1.5rem; // 24px
    font-weight: bold;
    margin: 1rem 0; // 16px

    .second {
      color: $navbar-secondary-colour;
    }
  }

  .job {
    display: none;

    @include desktop {
      display: block;
      font-size: 1.5rem; // 24px
      margin: 1.25rem 0; // 20px

      .first {
        display: block;
      }
  
      .second {
        display: block;
        font-weight: bold;
      }
    }
  }

  .toggle {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      .icon-bar {
        background-color: $navbar-highlight-colour;
      }
    }

    @include desktop {
      display: none;
    }
  }

  .icon-bar {
    display: block;
    width: 2rem; // 32px
    height: 0.25rem; // 4px
    background-color: $navbar-colour;
    margin: 0.25rem 0; // 4px
    transition: all 0.1s linear;
  }

  .menu {
    display: none;
    padding: 0.5rem 0; // 8px
    width: 100%;

    @include desktop {
      display: block;
    }
  }

  .nav-links {
    a {
      padding: 1rem 0; // 16px
      display: block;
      text-transform: uppercase;
      text-align: center;
      max-height: 3.125rem; // 50px
      position: relative;
      transition: all 0.1s linear;

      &:hover,
      &:focus,
      &.active {
        background-color: $navbar-highlight-colour;

        @include desktop {
          .arrow {
            border-left: 1.5625rem solid $navbar-highlight-colour; // 25px
          }
        }
      }
    }
  }

  .arrow {
    display: none;

    @include desktop {
      display: inline;
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 1.5625rem solid $navbar-background-colour; // 25px
      border-bottom: 1.5625rem  solid $navbar-background-colour; // 25px
      border-left: 1.5625rem  solid $navbar-background-colour; // 25px
      transition: all 0.1s linear;
    }
  }

  .social-links {
    text-align: center;
    padding: 0.5rem 0; // 8px

    a {
      &:hover,
      &:focus {
        .icon {
          transform: scale(1.3);
        }
      }

      .icon {
        font-size: 2rem; // 32px
        margin: 1rem 1rem 0.5rem; // 16px 16px 8px
        color: $navbar-secondary-colour;
        transition: transform 0.1s linear;
      }
    }
  }

  &.expanded {
    .icon-bar {
      &.top {
        transform: translateY(0.5rem); // 8px
      }
      &.bottom {
        transform: translateY(-0.5rem); // 8px
      }
    }

    .menu {
      display: block;
    }
  }
}
