.App {
  height: 100%;
  display: grid;
  grid-template-columns: 15.625rem auto;
  grid-template-rows: auto;
  grid-template-areas: 'navbar content';
}

.content {
  grid-area: content;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: white;
  font-weight: 300;
  font-size: 54px;
  margin: 20px 150px;
  font-weight: bold;
}

.welcome a {
  color: #005351;
}

.typed-cursor {
  color: #005351;
  font-size: 54px;
}

.typed-cursor {
  animation: blink 1s steps(1);
}

@keyframes blink {
  0% {
    color: #005351;
  }
  50% {
    color: transparent;
  }
}

@media (max-width: 992px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: auto 100%;
    grid-template-areas: 'navbar'
    'content';
  }
}