html {
  height: 100%;
  overflow: hidden;
  background-color: #04b9b7;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100%;
  overflow: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
