/*
 * Base styles
 */

html {
  background-color: #04b9b7;
}

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  /* disable highlights on buttons, links, etc. */
  outline: none;
  /* disable tap highlight on mobile */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
